* {
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  width: 100%;
}

header{
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  border: 1px outset gray;
  height: 20px;
  width: 90%;
}

div.top_menu {
  display: inline-block;
  height: auto;
  width: auto;
}

div nav{
  text-align: center;
  float: left;
  /* border: 1px solid black; */
  width: 60px;
}

nav ul{
  list-style: none;
  width: 120%;
  margin-top: 5px;
  /* overflow: hidden; */
  /* position: absolute; */
}

ul li {
  border: 1px solid black;
  margin-left: 13px;
  display: none;
  background-color: #FFFFFF;
  width: 100%;
  height: 25px;
  position: relative;
  text-align: center;
}

nav:hover ul li {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: #696969;
}

center{
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  /* border: 1px outset gray; */
  height: 100%;
  width: 90%;
}

table.main{
  height: 100%;
  width: 100%;
}

/* table.main tr{
  height: 100%;
} */

table.main td{
  width: 25%;
  /* border: 1px solid black; */
}

div.cell{
  margin: 0 auto;
  text-align: center;
  height: auto;
  width: 95%;
  border: 1px solid black;
  margin-bottom: 10px;
}

div.cell_all{
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: auto;
}

div.cell_text{
  /* display: inline-block; */
  /* float: left; */
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
}

div.cell_text p{
  padding-left: 1px;
  text-align: left;
  /* float: left; */
  width: 100%;
  height: 100%;
}


div.cell_img{
  /* display: inline-block; */
  text-align: center;
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
}

div.cell_img img{
  width: 100%;
  height: auto;
  display: block;
}
